#title {
  background-color: #ff4c68;
  font-family: 'Montserrat' sans-serif;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;
  color: white;
}


body{
  font-family: 'Montserrat' sans-serif;
}

h2{
  font-family: "Montserrat-Bold";
  font-size: 4.5rem;
  line-height: 1.5;
}

.container-fluid{
  padding:3% 10% 10%;
}


.navbar{
  padding: 0 0 4.5rem;
}


.nav-item{
  padding: 0 18px;
}

.rotated{
  transform: rotate(25deg);
  position: absolute;
  right:25%;
}

@media (max-width:1028px) {
    .container{
      text-align: center;
    }

    .rotated {
        position: static;
        transform: rotate(0);
        /* padding-left: 50px; */
    }

    .jaw{
      margin-bottom: 20px;
    }

    #pricing{
      text-align: center;
    }
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.features{
  font-family:"Montserrat-bold";
}

.feature-box{
  text-align: center;
}

.fa-solid{
  color: #ef8172;
  position: relative;
  /* left: 5.5rem;
  padding:10px 0; */

}

.fa-solid:hover{
  color: #ff4c68;
}

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

/* testimonial section */

#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
  width:10%;
  border-radius: 100%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img{
   width: 15%;
   margin: 20px 20px 50px;
}

/* Pricing */
#pricing{
  padding:100px;
}

.pricing-column{
  padding:3%;
  text-align: center;
}

/* call to action */

#cta {
  background-color: #ff4668;
  font-family: "Montserrat Bold" serif;
  padding: 7% 15%;
  text-align: center;
}

.heading{
  color: white;
  font-size: 4.5rem;
  line-height: 1.5;
  padding-bottom: 4rem;
}


/* footer */

#footer {
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.icons{
  padding-bottom: 1%;
}

.ico{
  color: #000;
}

.space{
  margin: 0 0.5% 0;
}
